.registertab{
    display: flex;
    justify-content: center;
}

.primary-btn{
    padding: 10px;
    text-decoration: none !important;
    
    border-radius: 20%;
    background-color: rgb(51, 48, 48);
    color: white;
}

.primary-btn:hover{
    background-color: rgb(252, 167, 10);
}
#discount-amount{
    color: red;
}
#final-amount{
    color: green;
    font-weight: bold;
}

.coupon-disc{
display: none;
}

.coupon-apply{
   visibility: hidden;
}


.show-disc{
display: none;
}
.active{
    display: table-row;
    visibility: visible;
}
.active1{
    display: table-row;
}
.vanish{
    display: none;
}

